@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_forms\.scss}line{font-family:\000034}}
select:focus,
input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 4px 1px rgba(165, 224, 97, 0.3);
  -moz-box-shadow: 0 0 4px 1px rgba(165, 224, 97, 0.3);
  box-shadow: 0 0 4px 1px rgba(165, 224, 97, 0.3);
  outline: 1px solid #a5e061; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_forms\.scss}line{font-family:\0000310}}
fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 9px 1em 18px 1em;
  border-color: #dddddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_forms\.scss}line{font-family:\0000318}}
legend {
  font-size: 18px;
  font-size: 1.28571rem;
  padding: 0 0.8em;
  color: #6a7076; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

/**
 * $TABLES
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_tables\.scss}line{font-family:\000034}}
table {
  width: 100%;
  margin-bottom: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_tables\.scss}line{font-family:\000039}}
th {
  padding: 0.5em 1em;
  background-color: #00267f;
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_tables\.scss}line{font-family:\0000315}}
  th a,
  th a.active {
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_tables\.scss}line{font-family:\0000318}}
    th a img,
    th a.active img {
      margin: 2px 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_tables\.scss}line{font-family:\0000323}}
td {
  padding: 0.5em 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_tables\.scss}line{font-family:\0000327}}
tr.odd {
  background: #e7f1f5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_tables\.scss}line{font-family:\0000330}}
tr.even {
  background: #f6fafb; }

/**
 * $FONT-FACE
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.omega_bc\/gems\/compass-0\.12\.3\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000361}}
* html {
  font-size: 87.5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.omega_bc\/gems\/compass-0\.12\.3\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000364}}
html {
  font-size: 14px;
  line-height: 1.42857em; }

/**
 * $BASE-TYPOGRAPHY
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000311}}
html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #222222; }

/**
 * $LINKS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000319}}
a {
  color: #00267f; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.omega_bc\/gems\/compass-0\.12\.3\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000318}}
  a:visited {
    color: #80cc28; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.omega_bc\/gems\/compass-0\.12\.3\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000321}}
  a:focus {
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.omega_bc\/gems\/compass-0\.12\.3\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000324}}
  a:hover {
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.omega_bc\/gems\/compass-0\.12\.3\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000327}}
  a:active {
    color: #6a7076; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000323}}
a:hover {
  color: #00267f; }

/**
 * $HEADINGS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000334}}
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta, caption,
h5, .epsilon,
h6, .zeta {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em;
  color: #464a4e;
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000341}}
  h1 a,
  h1 a:visited, .alpha a,
  .alpha a:visited,
  h2 a,
  h2 a:visited, .beta a,
  .beta a:visited,
  h3 a,
  h3 a:visited, .gamma a,
  .gamma a:visited,
  h4 a,
  h4 a:visited, .delta a, caption a,
  .delta a:visited,
  caption a:visited,
  h5 a,
  h5 a:visited, .epsilon a,
  .epsilon a:visited,
  h6 a,
  h6 a:visited, .zeta a,
  .zeta a:visited {
    color: inherit;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000345}}
  h1 a:hover, .alpha a:hover,
  h2 a:hover, .beta a:hover,
  h3 a:hover, .gamma a:hover,
  h4 a:hover, .delta a:hover, caption a:hover,
  h5 a:hover, .epsilon a:hover,
  h6 a:hover, .zeta a:hover {
    color: #18599b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000350}}
h1, .alpha {
  font-size: 55px;
  font-size: 3.92857rem;
  font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000354}}
h2, .beta {
  font-size: 34px;
  font-size: 2.42857rem;
  font-weight: 700;
  color: #00267f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000359}}
h3, .gamma {
  font-size: 21px;
  font-size: 1.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000362}}
h4, .delta, caption {
  font-size: 18px;
  font-size: 1.28571rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000365}}
h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem;
  font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000369}}
h6, .zeta {
  font-size: 16px;
  font-size: 1.14286rem;
  color: #00267f; }

/**
 * $PARAGRAPHS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000378}}
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.42857em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000382}}
p + img {
  float: left;
  margin-right: 1em; }

/**
 * $QUOTES
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\0000390}}
blockquote {
  margin-top: 0em;
  padding-top: 1.42857em;
  padding-bottom: 1.42857em;
  margin-bottom: 1.42857em;
  padding: 0 1.5em;
  border-style: solid;
  border-width: 0.07143em;
  padding: 1.35714em;
  border-left-style: solid;
  border-left-width: 0.71429em;
  padding-left: 0.71429em;
  font-style: italic;
  color: #18599b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\00003100}}
  blockquote p {
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\00003105}}
q {
  font-style: italic; }

/**
 * $MARKS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/base\/_typography\.scss}line{font-family:\00003113}}
mark,
.marker {
  padding: 0.1em 0.5em;
  background: #52b1ea;
  color: #fff;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_bc_menu\.scss}line{font-family:\000032}}
.l-branding > .site-logo > img {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_bc_menu\.scss}line{font-family:\000036}}
.sf-menu li:hover {
  border-bottom-color: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-width: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_bc_menu\.scss}line{font-family:\0000312}}
.top {
  background-color: green; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_bc_menu\.scss}line{font-family:\0000322}}
.desktopview li {
  display: inline-block; }

@media screen and (max-width: 1920px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_bc_menu\.scss}line{font-family:\0000329}}
  #pmenu, #imenu {
    display: block;
    background: #ddd;
    text-align: center;
    background-color: green;
    color: #FFFFFF;
    width: 45px;
    height: 45px;
    display: table-cell;
    font-size: 2em;
    vertical-align: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_bc_menu\.scss}line{font-family:\0000343}}
  .profiler.js, .abouter.js {
    display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_blogposts\.scss}line{font-family:\000031}}
.views-row-odd {
  background-color: #d0d0d0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_blogposts\.scss}line{font-family:\000032}}
.views-row-even {
  background-color: #9d9d9d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_blogposts\.scss}line{font-family:\000034}}
.node--blog-content {
  margin: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_blogposts\.scss}line{font-family:\000037}}
.node__title {
  padding-top: 15px; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Common styles of menus */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000314}}
.dl-menuwrapper {
  width: 100%;
  max-width: 300px;
  float: left;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  -moz-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000327}}
.dl-menuwrapper:first-child {
  margin-right: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000331}}
.dl-menuwrapper button {
  background: white;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000342}}
.dl-menuwrapper button:hover {
  background-color: #fff;
  color: pink; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000347}}
.dl-menuwrapper button.dl-active {
  color: #00267f;
  background: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000352}}
.dl-menuwrapper ul {
  background: purple;
  color: #00267f; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000355}}
  .dl-menuwrapper ul a {
    color: #00267f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000357}}
.dl-menuwrapper ul:active {
  color: #00267f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000361}}
.dl-menuwrapper button:after {
  content: '';
  position: absolute;
  width: 68%;
  height: 5px;
  background: green;
  top: 10px;
  left: 16%;
  box-shadow: 0 10px 0 green, 0 20px 0 green; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000374}}
.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000382}}
.dl-menuwrapper li {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000386}}
.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #00267f;
  outline: none;
  background-color: green; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\0000398}}
.no-touch .dl-menuwrapper li a:hover {
  background: rgba(255, 248, 213, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003102}}
.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003108}}
.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 50px;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\e000"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003118}}
.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: rgba(212, 204, 198, 0.3);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003126}}
.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003131}}
.dl-menuwrapper .dl-menu {
  margin: 5px 0 0 0;
  position: absolute;
  width: auto;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003146}}
.dl-menuwrapper .dl-menu.dl-menu-toggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003152}}
.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px); }

/* Hide the inner submenus */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003161}}
.dl-menuwrapper li .dl-submenu {
  display: none; }

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003174}}
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003182}}
.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block; }

/* Dynamically added submenu outside of the menu context */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003187}}
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0; }

/* Animation classes for moving out and in */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003197}}
.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s;
  -moz-animation: MenuAnimOut1 0.4s;
  animation: MenuAnimOut1 0.4s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003203}}
.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  -moz-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003209}}
.dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease;
  -moz-animation: MenuAnimOut3 0.4s ease;
  animation: MenuAnimOut3 0.4s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003215}}
.dl-menu.dl-animate-out-4 {
  -webkit-animation: MenuAnimOut4 0.4s ease;
  -moz-animation: MenuAnimOut4 0.4s ease;
  animation: MenuAnimOut4 0.4s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003221}}
.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  -moz-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease; }

@-webkit-keyframes MenuAnimOut1 {
  /* line 228, ../sass/components/_respondsivemenus_component.scss */
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg); }

  /* line 231, ../sass/components/_respondsivemenus_component.scss */
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }

  /* line 235, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }

@-webkit-keyframes MenuAnimOut2 {
  /* line 242, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0; } }

@-webkit-keyframes MenuAnimOut3 {
  /* line 249, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0; } }

@-webkit-keyframes MenuAnimOut4 {
  /* line 256, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; } }

@-webkit-keyframes MenuAnimOut5 {
  /* line 263, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0; } }

@-moz-keyframes MenuAnimOut1 {
  /* line 270, ../sass/components/_respondsivemenus_component.scss */
  50% {
    -moz-transform: translateZ(-250px) rotateY(30deg); }

  /* line 273, ../sass/components/_respondsivemenus_component.scss */
  75% {
    -moz-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }

  /* line 277, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }

@-moz-keyframes MenuAnimOut2 {
  /* line 284, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateX(-100%);
    opacity: 0; } }

@-moz-keyframes MenuAnimOut3 {
  /* line 291, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(300px);
    opacity: 0; } }

@-moz-keyframes MenuAnimOut4 {
  /* line 298, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(-300px);
    opacity: 0; } }

@-moz-keyframes MenuAnimOut5 {
  /* line 305, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateY(40%);
    opacity: 0; } }

@keyframes MenuAnimOut1 {
  /* line 312, ../sass/components/_respondsivemenus_component.scss */
  50% {
    transform: translateZ(-250px) rotateY(30deg); }

  /* line 315, ../sass/components/_respondsivemenus_component.scss */
  75% {
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5; }

  /* line 319, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; } }

@keyframes MenuAnimOut2 {
  /* line 326, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateX(-100%);
    opacity: 0; } }

@keyframes MenuAnimOut3 {
  /* line 333, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(300px);
    opacity: 0; } }

@keyframes MenuAnimOut4 {
  /* line 340, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(-300px);
    opacity: 0; } }

@keyframes MenuAnimOut5 {
  /* line 347, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateY(40%);
    opacity: 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003353}}
.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s;
  -moz-animation: MenuAnimIn1 0.3s;
  animation: MenuAnimIn1 0.3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003359}}
.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  -moz-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003365}}
.dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease;
  -moz-animation: MenuAnimIn3 0.4s ease;
  animation: MenuAnimIn3 0.4s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003371}}
.dl-menu.dl-animate-in-4 {
  -webkit-animation: MenuAnimIn4 0.4s ease;
  -moz-animation: MenuAnimIn4 0.4s ease;
  animation: MenuAnimIn4 0.4s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003377}}
.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  -moz-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease; }

@-webkit-keyframes MenuAnimIn1 {
  /* line 384, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }

  /* line 388, ../sass/components/_respondsivemenus_component.scss */
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }

  /* line 392, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }

@-webkit-keyframes MenuAnimIn2 {
  /* line 399, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0; }

  /* line 403, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes MenuAnimIn3 {
  /* line 410, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0; }

  /* line 414, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }

@-webkit-keyframes MenuAnimIn4 {
  /* line 421, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; }

  /* line 425, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }

@-webkit-keyframes MenuAnimIn5 {
  /* line 432, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0; }

  /* line 436, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@-moz-keyframes MenuAnimIn1 {
  /* line 443, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }

  /* line 447, ../sass/components/_respondsivemenus_component.scss */
  20% {
    -moz-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }

  /* line 451, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }

@-moz-keyframes MenuAnimIn2 {
  /* line 458, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateX(-100%);
    opacity: 0; }

  /* line 462, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateX(0px);
    opacity: 1; } }

@-moz-keyframes MenuAnimIn3 {
  /* line 469, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateZ(300px);
    opacity: 0; }

  /* line 473, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1; } }

@-moz-keyframes MenuAnimIn4 {
  /* line 480, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateZ(-300px);
    opacity: 0; }

  /* line 484, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1; } }

@-moz-keyframes MenuAnimIn5 {
  /* line 491, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateY(40%);
    opacity: 0; }

  /* line 495, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateY(0);
    opacity: 1; } }

@keyframes MenuAnimIn1 {
  /* line 502, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0; }

  /* line 506, ../sass/components/_respondsivemenus_component.scss */
  20% {
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5; }

  /* line 510, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(0px) rotateY(0deg);
    opacity: 1; } }

@keyframes MenuAnimIn2 {
  /* line 517, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateX(-100%);
    opacity: 0; }

  /* line 521, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes MenuAnimIn3 {
  /* line 528, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateZ(300px);
    opacity: 0; }

  /* line 532, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes MenuAnimIn4 {
  /* line 539, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateZ(-300px);
    opacity: 0; }

  /* line 543, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes MenuAnimIn5 {
  /* line 550, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateY(40%);
    opacity: 0; }

  /* line 554, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateY(0);
    opacity: 1; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003560}}
.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease;
  -moz-animation: SubMenuAnimIn1 0.4s ease;
  animation: SubMenuAnimIn1 0.4s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003566}}
.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  -moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003572}}
.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  -moz-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003578}}
.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  -webkit-animation: SubMenuAnimIn4 0.4s ease;
  -moz-animation: SubMenuAnimIn4 0.4s ease;
  animation: SubMenuAnimIn4 0.4s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003584}}
.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  -moz-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease; }

@-webkit-keyframes SubMenuAnimIn1 {
  /* line 591, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0; }

  /* line 595, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes SubMenuAnimIn2 {
  /* line 602, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0; }

  /* line 606, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1; } }

@-webkit-keyframes SubMenuAnimIn3 {
  /* line 613, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; }

  /* line 617, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }

@-webkit-keyframes SubMenuAnimIn4 {
  /* line 624, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0; }

  /* line 628, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1; } }

@-webkit-keyframes SubMenuAnimIn5 {
  /* line 635, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0; }

  /* line 639, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1; } }

@-moz-keyframes SubMenuAnimIn1 {
  /* line 646, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateX(50%);
    opacity: 0; }

  /* line 650, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateX(0px);
    opacity: 1; } }

@-moz-keyframes SubMenuAnimIn2 {
  /* line 657, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateX(100%);
    opacity: 0; }

  /* line 661, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateX(0px);
    opacity: 1; } }

@-moz-keyframes SubMenuAnimIn3 {
  /* line 668, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateZ(-300px);
    opacity: 0; }

  /* line 672, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1; } }

@-moz-keyframes SubMenuAnimIn4 {
  /* line 679, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateZ(300px);
    opacity: 0; }

  /* line 683, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1; } }

@-moz-keyframes SubMenuAnimIn5 {
  /* line 690, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateZ(-200px);
    opacity: 0; }

  /* line 694, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(0);
    opacity: 1; } }

@keyframes SubMenuAnimIn1 {
  /* line 701, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateX(50%);
    opacity: 0; }

  /* line 705, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn2 {
  /* line 712, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateX(100%);
    opacity: 0; }

  /* line 716, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn3 {
  /* line 723, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateZ(-300px);
    opacity: 0; }

  /* line 727, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn4 {
  /* line 734, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateZ(300px);
    opacity: 0; }

  /* line 738, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(0px);
    opacity: 1; } }

@keyframes SubMenuAnimIn5 {
  /* line 745, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateZ(-200px);
    opacity: 0; }

  /* line 749, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(0);
    opacity: 1; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003755}}
.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease;
  -moz-animation: SubMenuAnimOut1 0.4s ease;
  animation: SubMenuAnimOut1 0.4s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003761}}
.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  -moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003767}}
.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease;
  -moz-animation: SubMenuAnimOut3 0.4s ease;
  animation: SubMenuAnimOut3 0.4s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003773}}
.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  -moz-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003779}}
.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  -moz-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease; }

@-webkit-keyframes SubMenuAnimOut1 {
  /* line 786, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1; }

  /* line 790, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0; } }

@-webkit-keyframes SubMenuAnimOut2 {
  /* line 797, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1; }

  /* line 801, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0; } }

@-webkit-keyframes SubMenuAnimOut3 {
  /* line 808, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1; }

  /* line 812, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0; } }

@-webkit-keyframes SubMenuAnimOut4 {
  /* line 819, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1; }

  /* line 823, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0; } }

@-webkit-keyframes SubMenuAnimOut5 {
  /* line 830, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1; }

  /* line 834, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0; } }

@-moz-keyframes SubMenuAnimOut1 {
  /* line 841, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateX(0%);
    opacity: 1; }

  /* line 845, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateX(50%);
    opacity: 0; } }

@-moz-keyframes SubMenuAnimOut2 {
  /* line 852, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateX(0%);
    opacity: 1; }

  /* line 856, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateX(100%);
    opacity: 0; } }

@-moz-keyframes SubMenuAnimOut3 {
  /* line 863, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateZ(0px);
    opacity: 1; }

  /* line 867, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(-300px);
    opacity: 0; } }

@-moz-keyframes SubMenuAnimOut4 {
  /* line 874, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateZ(0px);
    opacity: 1; }

  /* line 878, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(300px);
    opacity: 0; } }

@-moz-keyframes SubMenuAnimOut5 {
  /* line 885, ../sass/components/_respondsivemenus_component.scss */
  0% {
    -moz-transform: translateZ(0);
    opacity: 1; }

  /* line 889, ../sass/components/_respondsivemenus_component.scss */
  100% {
    -moz-transform: translateZ(-200px);
    opacity: 0; } }

@keyframes SubMenuAnimOut1 {
  /* line 896, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateX(0%);
    opacity: 1; }

  /* line 900, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateX(50%);
    opacity: 0; } }

@keyframes SubMenuAnimOut2 {
  /* line 907, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateX(0%);
    opacity: 1; }

  /* line 911, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateX(100%);
    opacity: 0; } }

@keyframes SubMenuAnimOut3 {
  /* line 918, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateZ(0px);
    opacity: 1; }

  /* line 922, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(-300px);
    opacity: 0; } }

@keyframes SubMenuAnimOut4 {
  /* line 929, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateZ(0px);
    opacity: 1; }

  /* line 933, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(300px);
    opacity: 0; } }

@keyframes SubMenuAnimOut5 {
  /* line 940, ../sass/components/_respondsivemenus_component.scss */
  0% {
    transform: translateZ(0);
    opacity: 1; }

  /* line 944, ../sass/components/_respondsivemenus_component.scss */
  100% {
    transform: translateZ(-200px);
    opacity: 0; } }

/* No JS Fallback */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003951}}
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003959}}
.no-js .dl-menuwrapper li .dl-submenu {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003963}}
.no-js .dl-menuwrapper li.dl-back {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003967}}
.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003971}}
.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: ''; }

/* Colors for demos */
/* Demo 1 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003978}}
.demo-1 .dl-menuwrapper button {
  background: #c62860; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003984}}
.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
  background: #9e1847; }

/* Demo 2 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003989}}
.demo-2 .dl-menuwrapper button {
  background: #e86814; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\00003995}}
.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
  background: #D35400; }

/* Demo 3 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\000031000}}
.demo-3 .dl-menuwrapper button {
  background: #08cbc4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\000031006}}
.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
  background: #00b4ae; }

/* Demo 4 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\000031011}}
.demo-4 .dl-menuwrapper button {
  background: #90b912; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\000031017}}
.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
  background: #79a002; }

/* Demo 5 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\000031022}}
.demo-5 .dl-menuwrapper button {
  background: #744783; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_respondsivemenus_component\.scss}line{font-family:\000031028}}
.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
  background: #643771; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_tags\.scss}line{font-family:\000033}}
.field--type-taxonomy-term-reference div:before {
  color: #FF0000;
  content: "#";
  font-weight: 500; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_userlogin\.scss}line{font-family:\000032}}
.l-branding > .site-logo > img {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_userlogin\.scss}line{font-family:\000036}}
.sf-menu li:hover {
  border-bottom-color: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-width: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_userlogin\.scss}line{font-family:\0000312}}
.top {
  background-color: green; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_userlogin\.scss}line{font-family:\0000322}}
.desktopview li {
  display: inline-block; }

@media screen and (max-width: 1920px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_userlogin\.scss}line{font-family:\0000329}}
  #pmenu, #imenu {
    display: block;
    background: #ddd;
    text-align: center;
    background-color: green;
    color: #FFFFFF;
    width: 45px;
    height: 45px;
    display: table-cell;
    font-size: 2em;
    vertical-align: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_bc\/sass\/components\/_userlogin\.scss}line{font-family:\0000343}}
  .profiler.js, .abouter.js {
    display: none; } }
