/* 

.clearfix.platform li {display: inline-block;

}
/* .clearfix.platform {
  position: absolute;
  right: 0;
  top: 0;
} */
/* 
.l-branding .wrapper.clearfix {

}

/* something is adding extra /ul so it closes the li early and won't inline them */
/* temp */
/* 
#block-search-form {display: none}
#block-system-user-menu {display: none}
.follow-menu {display: none;}

/* compass normalize box padding etc needs to be overwritten for follow */
/* 
menu, ol, ul {padding: 0 0 0 0}
dl, menu, ol, ul {margin: 0}
*/
