@import "sassy-buttons";
//show grid
@import "compass/layout/grid-background";
@import "variables/**/*";
// ^ I importerd the colors.scss so I don't have to do twice

/* RT testing this now.
http://colorschemedesigner.com/#2J52gukNuw0w0
see scheme id for url
analogic is this good? then a grey */

//hack to hide breadcrumbs
.breadcrumb {display: none}

//hack to hide the "home word"s
.l-content h1 {
  display: none;
}

//Logo Smaller
#logo > img {
  width: 25rem;
}
// make all the header item containers the size of their contents
.headerrow, .header, .header div {display: inline-block;
  width: auto;
}
//center the headerrow
//RT this not working because it is taking the parent stuff for some reason
.headerrow {
  width: 100%;
  background-color: $headerbackground;
}

.header {
  display: table;
  margin: 0 auto;
  float: none;
  border-bottom: 1px $a_hover_colour solid;
}
.header .inside {padding-bottom: 1rem;}
//#1A80D9
//#1A6DD9


#mini-panel-usermenu {
  display: none;
  top: 2rem;
  position: absolute;
}

.user-login-form div {
  display: inline;
}

.pane-usermenu {
  position: absolute;
  z-index: 1000;
  background-color:$icon_back_colour;
  display: none;
}
.user-login-form div ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.user-login-form {
  background-color:white;
  padding: 1rem;
}
