@import "compass/layout/grid-background";
$menucol : #008000;

body{
    @include grid-background;
}
// for the social media follow
.desktop li {
	display: inline-block;
}

//temp
.l-header.img {height: 45px}

/*.l-region div {
	display: inline-block;
}*/
	@media screen and (max-width: 1768px) {
		#pmenu, #imenu {
			width:1.4em;
			display: block;
			background:#ddd;
			font-size:1.75em;
			text-align: center;
			background-color: $menucol;
			color: #FFFFFF;
		}
		.block--user-login.js,.block--menu-menu-about.js {
			display: none;
		}
	}

	@media screen and (min-width: 1768px) {
		#pmenu, #imenu {
			display: none;
		}
	}

//	follow
.desktopview li {
	display: inline-block;
}

.l-region--header div {
	display: inline-block;
}
