//usermenu
.button {
$sb-text-color:$backgroundcolour; //variable from _sassybuttons.scss partials
$sb-padding: 0.42rem 1rem;
@include sassy-button("flat", 10px, 1.2rem, $icon_back_colour);
vertical-align: super;
  &:hover { color:$h_social_colour;
  background-color: $icon_back_colour;
  }
  &:active{
  background-color: darken($icon_back_colour,5%);
  }
}
